body,html{
    overflow: hidden;
	height: 100%;
	margin: 0;
	background: rgb(44, 47, 59);
   	background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), rgb(32, 32, 43));
	background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
}

.raw{
	display: flex;
    flex-direction: row;
}

.chat{
	flex: 1;
	margin-top: 130px;
	margin-bottom: auto;
}
.card{
	height: 550px;
	border-radius: 15px !important;
	background-color: rgba(0,0,0,0.4) !important;
}
#mydropdown {
	margin-left: 180px;
	margin-top: 10px;
    position: relative;
    display: inline-block;
	height: 50px;
	width: 120px;
	background-color: rgba(0,0,0,0.4) !important;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
	border-radius: 25px;
    cursor: pointer;
}

.option {
    background-color: rgba(0,0,0,0.4) !important;
    min-width: 148px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

#mydropdown:hover .option {
    display: block;
}
.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	display: grid;
    grid-template-columns: 1fr 1fr;
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
	padding: 20px;
	color: #fff;
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}

.container{
	align-content: center;
}

.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: white;
}
.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: rgb(82, 172, 255);
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #58cc71;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(255,255,255,0.5);
	font-size: 10px;
}
.msg_head{
	position: relative;
}

@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}

#answer_img{
  color: #fff;
}
/* Side navigation bar */

.sidebar {
	width: 260px;
	height: 100vh;
	display: flex;
	flex-direction: row;	
    border-radius: 8px;
    background-color: rgba(3, 28, 48, 1);
    box-shadow: 0px 9px 94px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 23px;
  }

.brand-container {
    display: flex;
    width: 100%;
    max-width: 260px;
    flex-direction: column;
  }
  .brand-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .logo-container {
    display: flex;
    flex-direction: column;
  }

  .nav-list {
    display: flex;
    margin-top: 45px;
    width: 100%;
    flex-direction: column;
    gap: 15px;
  }
  .nav-item {
    border-radius: 4px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 8px 0 7px;
  }
  .nav-item.active {
    background-color: rgba(102, 122, 138, 1);
  }
  .nav-link-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-link-wrapper:hover {
    background-color: #000000;
    color: #000000;
	border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

  .icon-wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
  }
  .nav-text {
    color: rgba(239, 242, 244, 1);
    letter-spacing: 0.15px;
    padding: 8px;
    font: 400 15px Poppins, sans-serif;
  }
  .nav-text.active {
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
  }
  .notification-badge {
    background-color: rgba(239, 242, 244, 1);
    border-radius: 4px;
    color: rgba(12, 127, 218, 1);
    font: 400 12px/27px Poppins, sans-serif;
    height: 23px;
    text-align: center;
    width: 23px;
  }

  #Logout{
	border-radius: 25px;
    background-color: #3d3d3d; /* red color */
    color: #fff; /* white text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}
  #Logout:hover {
    background-color: #000000;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}